asgiref==3.6.0
autopep8==2.0.2
awsebcli==3.20.5
backports.zoneinfo==0.2.1
botocore==1.29.81
cement==2.8.2
certifi==2022.12.7
charset-normalizer==2.0.12
colorama==0.4.3
Django==4.1.7
dnspython==2.3.0
idna==3.4
jmespath==1.0.1
markdown-it-py==2.2.0
mdurl==0.1.2
pathspec==0.10.1
pycodestyle==2.10.0
Pygments==2.14.0
pymongo==4.3.3
pypiwin32==223
python-dateutil==2.8.2
pywin32==305
PyYAML==5.4.1
requests==2.26.0
rich==13.3.3
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.3
termcolor==1.1.0
tomli==2.0.1
typing-extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
wcwidth==0.1.9
